.third_block {
  background-image:  url("../dist/img/testemonials.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.people-subscription {
  line-height: 1.7;
  margin-top: 30px;
}

.third_block > p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  color: #FFFFFF;
  padding: 108px 0 100px 0;
}

.grid_el{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 150px;
  justify-content: start;
  column-gap: 75px;
  row-gap: 120px;
  margin: 0 30px;
}

.grid_el p {
  font-family: Lato;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  max-width: 350px;



  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;


}

.grid_el > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: end;
}

.third_block_text_bot {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  max-width: 887px;
  text-align: center;
  margin: 125px 0 15px 0;


  color: #A291A5;


}

.some_line {
  border: 1px solid#645766;
  width: 780px;
  margin-bottom: 10px;
}



@media (max-width: 992px){
  .container{
    max-width: 970px;
  }
  .menu{
    align-self: center;
    /* order: 1; */
    justify-self: center;

  }
  .menu ul{
    margin: 0;
    padding: 0;
  }
  .nav_bar{
    width: 100%;
    height: 128px;
    background: #27262A;
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75px;
    grid-template-areas:

            "logo buy"
            "menu menu"
  ;
  }
  .menu a{
    margin: 0;
  }
  .buy_now{
    margin-left: 125px;
  }
  .head_h1{
    font-size: 72px;
    margin-bottom: 12px;
  }
  .head_h2{
    font-size: 24px;
    margin-bottom: 12px;
  }
  .head_h3{
    font-size: 14px;
    margin-bottom: 12px;
  }
  .grid_el{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 120px;
    justify-content: start;
    column-gap: 6%;
    row-gap: 120px;
  }

  .third_block > p{
    font-size: 48px;
    padding: 85px;
    margin: 0%;
  }
  .some_line {
    width: 555px;
  }
  .third_block > p{
    font-size: 42px;
    text-align: center;
  }
}


@media (max-width: 620px){
  .menu li{
    padding: 12px;
  }
  .menu a {
    margin: 4px;
    font-size: 14px;
  }

}


@media (max-width: 480px){
  .menu {
    display: block;
    grid-area: initial;
    position: fixed;
    width: 100%;
    top: -100%;
    right: 0px;
    transition: all 0.3s ease 0s ;
    z-index: 3;
  }
  .menu.active{
    top: 80px;
  }
  .menu ul {
    display: grid;
    align-items: center;
    justify-items: center;
    //height: 379px;
    position: absolute;
    right: 15px;
  }
  .menu_el {
    min-width: 260px;
    //height: 60px;
    background: #333333;
    border-bottom: 1px solid #504f4f;
    display: grid;
    align-items: start;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #FFFFFF;
  }
  .menu a{
    margin: 0;
  }
  .menu a :hover{
    color: #8D81AC;
    border-left: 2px solid #8D81AC;
  }
  .head_h1{
    font-size: 48px;
  }
  .head_h2{
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .head_h3{
    font-size: 14px;
  }
  .buy_now{
    width: 119px;
    height: 37px;
    margin: 0;
    padding: 0;
    justify-self: center;
  }
  .nav_bar{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 80px;
    grid-template-areas:
            "logo buy burger"
  ;
  }
  .container-vlad{
    margin-top: 80px;
  }
  .download a {
    bottom: -38px;
    width: 294px;
    height: 40px;
    font-size: 18px;
    padding: 15px 30px;
  }
  .third_block > p {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin: 57px 15px 120px 15px;
    padding: 0;
    color: #FFFFFF;
  }
  .grid_el{
    grid-template-columns: 350px;
    grid-auto-rows: 120px;
    justify-content: start;
    column-gap: 90px;
    row-gap: 120px;
  }
  .some_line {
    width: 350px;
  }
  .header__burger{
    display: block;
    position: relative;
    width: 28px;
    height: 24px;
  }
  .header__burger span {
    position: absolute;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 11px;
    border-radius: 5px;
    transition: all 0.3s ease 0s ;
  }
  .header__burger::before,
  .header__burger::after{
    content: '';
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s ;
  }
  .header__burger::before{
    top: 0;
    border-radius: 3px;
  }
  .header__burger::after{
    bottom: 0;
    border-radius: 3px;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 10.5px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 10.5px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .head_h1{
    font-size: 48px;
  }
  .head_h2{
    font-size: 18px;
    text-align: center;
  }
  .head_h3{
    font-size: 14px;
  }
  .buy_now{
    width: 119px;
    height: 37px;
    margin: 0;
    padding: 0;
    justify-self: center;
  }
  .logo p{
    display: none;
  }
  .some_line {
    width: 245px;
  }
  .grid_el{
    grid-template-columns: 270px;
    grid-auto-rows: 120px;
    justify-content: start;
    column-gap: 90px;
    row-gap: 120px;
  }
}